<section class="hero">
  <img class="hero__bg" src="{{baseUrl}}/bg.jpg" alt="" />
  <div class="hero__links">
    <a class="hero__btn" href="{{baseUrl}}/info">Info</a>
    <a class="hero__btn" href="{{baseUrl}}/osa">OSA</a>
  </div>
</section>
