<p>
Precis utanför byn Uddebo ligger gården Mjällbo där Bröllopsspelen kommer äga rum, det är en aktiv gård med både djur, skogs- och ängsbruk men också en plats för festivaler och högtidsfiranden. <br> Vi tror att vi kommer få en magisk dag där bland ängarna med er.
</p>
