
<p>
Var bekväm och fräsch. Du får gärna låta dig inspireras av hur du tror att ett medeltida bröllopspel ska se ut. Men det viktigaste är att du är med.
<br/><br/>
Aktiviter kommer ske ute och på ojämn mark, vi kommer kliva runt i ängar och hagar och på ladugårdsgolv - så undvik höga klackar.
<br/>
Beroende på vår tur med vädret kan det vara mer eller mindre kyligt emot kvällen. En <a href="https://lajvarbloggen.blogspot.com/2010/04/basklader-mantel.html">hemmasydd mantel</a> du kan ta av dig i solskenet rekommenderas varmt.
<br/>
</p>
<div class="info-kladsel__forslag">
  <img class="info-kladsel__img" src="{{baseUrl}}/rose2.png" alt="" />
  <div>
    <h4>Förslag</h4>
    <p>
     - Sandaler och gjutesäck.
     <br>- Vad som helst och en mantel.
     <br>- Munkkåpa + matchande frilla.
     <br>- Bockstensmannen-fashion.
     <br>- Snygg och somrig klädsel.
    </p>
    <dt><br/><i>Pssst, medeltiden är tydligen en av <a href="https://www.tv4play.se/klipp/dc161ead5f7b063535d7/video-de-blir-modetrenderna-2026-medeltid-och-tajta-jeans">årets modetrender</a>.</i></dt>
  </div>
</div>
<br>
<h3>Vad ska jag ha med mig?</h3>
<p>
Festfixarna kommer bjuda in dig till att bidra med antingen det ena eller det andra - hör du inget behöver du inte ta med något, du bjussar med din närvaro.
<br/><br/>
Obs: Presenter undanbedes! 100% inga presenter tack.
</p>
