<p>
Vi vill bjuda in alla som vill att vara med även fredag, då vi preppar och även söndag, då vi myser och städar. Det är också kul att göra ihop -men är helt frivilligt att vara med på.
<br>
<i>Detta kommer specificeras mer längre fram...</i><br/></p>
<dl class="info-dl">
  <dt>Fredag</dt>
  <dd>Fix och prepping och häng under dagen och gemensam mat på kvällen.</dd>
  <dt>Lördag</dt>
  <dd><b>Bröllopsspelen</b> — från förmiddagen till sent på natten. <br><i>Programmet kommer närmare inpå. Vigseln sker på eftermiddagen.</i>
  <br>
  </dd>
  <dt>Söndag</dt>
  <dd>Mys och häng på förmiddagen med gemensam brunch, sedan städ, fix och strike.</dd>
</dl>
