<div class="info-mat__food">
  <p>
  På <i>Bröllopsspelen</i> kommer vi inte ha någon traditionell bröllopsmiddag med servering. Istället kommer det finnas ett knytis-matstånd på festplatsen där man kan få sig en god matbit bestående av sådant vi lagat och förberett tillsammans.<br>Du <a href="#vad-ta-med">kommer att få reda på</a> vad just du kan bidra med för läckerheter.
  <!--<br>Pajer, sallader, hummusrullar och toastmackor.-->
  </p>
</div>
<div class="info-mat__bar">
  <img class="info-mat__img info-mat__img--sign" src="{{baseUrl}}/sign.png" alt="" />
  <h3>Bar</h3>
  <p>
  Ungdomens källa är öppen för alla och tillhandahåller både alkohol och alkoholfria drycker och brygder.
  </p>
  <h3>Nattamat</h3>
  <p>
  På kvällen bjuds det såklart på vickning med servering av enkel varm mat.
  </p>
</div>
<p>
<br/>
All mat under helgen kommer vara vegetarisk 🌱
</p>

Mat och dryck
