<p>
<i>{{> intro-text}}</i>
</p>
<div class="info-image">
	<img src="{{baseUrl}}/arrow.png" alt="" />
</div>
<p>
Det blir en slags medeltidsfestival med hantverk, mat, riddarspel, lek och dans.
<br/>
Varför medeltidstema?
<br>- Vet ej. Men det är så det blev nu, och nej, ingen av oss har någonsin lajvat.
<br/>Men ingen av oss tycker särskilt mycket om att stå i centrum eller sitta för länge vid ett middagsbord. Därför vill vi göra något annorlunda med vårt bröllop.
<br>
Mest så är det för att vi vill bjuda in till spex och skoj och gyckel.
<br><br>
</p>
<h3>Varför bröllops- "spelen"?</h3>
<p>
Spexet blir ju ett slags rollspel, men också mycket tävlingar och lekar kommer finnas på plats - vi menar "kul för alla åldrar" helt enkelt.
<br>
</p>
<h3>Hur blir vigseln?</h3>
<p>
Vigseln kommer ske på en naturskön plats runt Mjällbo, vid ett angivet klockslag och väl annonserat. Du kommer inte missa det.
</p>
