
<p>
Det finns flera parkersmöjligheter i Uddebo där man står kostnadsfritt, det är endast en kort promenad till gården.
Vi kommer publicera en karta innan bröllopet.
<br>Har man svårt att promenera så kan man få ok att stå med bilen uppe vid gården - kontakta oss.
</p>

<div class="info-resa__kollektivt">
  <img class="info-resa__img" src="{{baseUrl}}/horse.png" alt="" />
  <div>
    <h3>Resa kollektivt</h3>
    <p>
    Enklast är att resa med buss från exempelvis Borås eller Göteborg via <a href="https://www.vasttrafik.se">Västtrafik</a>, hållplatsen heter <i>Uddebo</i><br>
    Tåg går inte till Uddebo utan närmaste stationen är Limmared, därefter är det att lifta, be om skjuts eller buss som gäller.
    </p>
  </div>
</div>
