<p>Det finns möjlighet att övernatta i närheten. Vi rekommenderar:</p>
<ul class="info-list">
  <li><a href="#" target="_blank" rel="noopener">Hotell ett</a></li>
  <li><a href="#" target="_blank" rel="noopener">Hotell två</a></li>
  <li><a href="#" target="_blank" rel="noopener">Stuga / AirBnb i närheten</a></li>
</ul>
