<p>Middagen börjar vid 18:00 och festen håller på sent in på natten.</p>
<div class="info-address">
  <p>Platsnamn</p>
  <p>Gatuadress</p>
  <p>Postnummer Ort</p>
  <a href="#" target="_blank" rel="noopener">Öppna i kartor →</a>
</div>

<p>All mat som serveras på bröllopet kommer vara vegetarisk 🌱 men inte nödvändigtvis vegansk, anmäl gärna om <span data-s="du" data-p="ni">du</span> önskar.</p>
Ange eventuella allergier eller kostbehov i OSA-formuläret.
