
<div class="info-barn-och-sallskap">
  <p>
  Du som är bjuden är varmt välkommen att ta med dig din familj / partner - känner du dig osäker på om det är lämpligt så hör gärna av dig.
  <br/>
  <br/>
  Vi räknar med att det kommer vara många barn på bröllopet och
  ser fram emot det, det kommer finnas aktiviteter för barn i olika åldrar och vi kommer vara på en generellt barnvänlig plats - men kom ihåg att du som förälder ansvarar för dina barn.
  </p>
  <img class="info-barn-och-sallskap__img" src="{{baseUrl}}/child.png" alt="" />
</div>
