<!DOCTYPE html>
<html lang="sv">
<head>
  <meta charset="UTF-8" />
  <meta name="viewport" content="width=device-width, initial-scale=1.0" />
  <title>Bröllopet</title>
  <link rel="stylesheet" href="/style.css" />
</head>
<body>
  {{> header}}
  <main>{{{body}}}</main>
  {{> footer}}
</body>
</html>
